<h1>Eat The Burger!</h1>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{burger}}
        {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{burgers}}
        {{/if}}
    {{/each}}
</ul>

<h4>Add a burger!</h4>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="burger">
    </div>

    <button type="submit">Add Burger</button>
</form>