<div class="container mt-5">
    <h1 class="text-center">Eat The Burger!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block eaten=true}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div class="col-sm-6">
            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block eaten=false}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>

<div class="continer">
    <form class="create-form">
        <h4 class="text-center">Add a burger!</h4>
        <form class="create-form text-center">

            <div class="form-group">
                <label for="bur">Burger Name:</label>
                <input type="text" id="bur" name="burger">
            </div>

            <button type="submit">Add Burger</button>
        </form>
    </form>
</div>